<span ng-controller="DashboardController as vm">
    <div layout-gt-md="row">
        <md-content flex layout-margin class="md-whiteframe-z1 top panel-widget panel-widget-dark" md-theme="dark">
                <form name="myForm" layout-gt-md="row" layout-align="center center" flex-gt-xs>
                    <section layout="row" layout-align="start center" flex>
                        <md-input-container flex class="no-bottom-margin">
                            <h2>عرض النتائج</h2>
                        </md-input-container>

                        <md-input-container flex class="dropdown-list-filter">
                            <md-icon class="md-accent">reorder</md-icon>
                            <label>الفترة</label>
                            <md-select ng-model="vm.interval">
                                <md-option ng-repeat="period in vm.periods" value="{{period.interval}}">
                                    {{period.label}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </section>
                    <section layout="row" flex layout-align="end center">
                        <md-input-container flex class="no-bottom-margin">
                            <md-icon class="md-accent">today</md-icon>
                            <label>من</label>
                            <input type="date" flex ng-model="vm.fromDate" ng-disabled="vm.interval !== ''" />
                        </md-input-container>

                        <md-input-container flex class="no-bottom-margin">
                            <md-icon class="md-accent">today</md-icon>
                            <label>إلى</label>
                            <input type="date" flex ng-model="vm.toDate" ng-disabled="vm.interval !== ''"/>
                        </md-input-container>
                    </section>
                </form>
        </md-content>
    </div>

    <div layout-gt-md="row"
        ng-repeat="row in vm.rows">

        <mj-pie-chart-question-stats
            ng-if="question.type == 'Rating'"
            ng-repeat="question in row.questions"
            title="{{question.title}}"
            question-id="{{question.id}}"
            filter-from="{{vm.fromDate}}"
            filter-to="{{vm.toDate}}"
            labels="{{question.labels}}"
            class="fixed-height-widget">
        </mj-pie-chart-question-stats>

        <mj-bar-chart-question-stats
            ng-if="question.type == 'List'"
            ng-repeat="question in row.questions"
            title="{{question.title}}"
            question-id="{{question.id}}"
            filter-from="{{vm.fromDate}}"
            filter-to="{{vm.toDate}}"
            labels="{{question.options}}"
            class="fixed-height-widget">
        </mj-bar-chart-question-stats>

        <mj-table-question-stats
            ng-if="question.type == 'Text'"
            ng-repeat="question in row.questions"
            title="{{question.title}}"
            question-id="{{question.id}}"
            filter-from="{{vm.fromDate}}"
            filter-to="{{vm.toDate}}">
        </mj-table-question-stats>
    </div>

    <!-- <div layout-gt-md="row">
        <panel-widget flex title="Site visitors" template="app/views/partials/visitors.html" class="fixed-height-widget"></panel-widget>
        <panel-widget flex title="Warnings" template="app/views/partials/warnings.html" class="fixed-height-widget"></panel-widget>
        <panel-widget flex title="Memory load" template="app/views/partials/memory.html" class="fixed-height-widget"></panel-widget>
    </div>

    <div layout-gt-md="row">
        <panel-widget flex title="Server Control Panel" template="app/views/partials/controlPanel.html" class="fixed-height-widget"></panel-widget>
        <panel-widget flex title="Usage Stats" template="app/views/partials/usage.html" class="fixed-height-widget"></panel-widget>
        <panel-widget flex title="Autocomplete Input" template="app/views/partials/autocomplete.html" options="true" class="fixed-height-widget"></panel-widget>
    </div>

    <div layout-gt-md="row">
        <panel-widget flex title="Performance" template="app/views/partials/performance.html" options="true"></panel-widget>
        <panel-widget flex title="TODO list" template="app/views/partials/checkboxes.html"></panel-widget>
    </div> -->
</span>
